<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        
        <a href="
            {% if request.user.role == 'superadmin' %}
                {% url 'superadmin-dashboard' %}
            {% else %}
                {% url 'admin-dashboard' %}
            {% endif %}">
            Cancel
        </a>
    </form>
</body>
</html>